@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.mx-auto {
  margin: 0 auto;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  color: white;
  font-size: 20px;
  line-height: 30px;
  border-radius: 3px;
  transition: 0.5s;
  text-transform: capitalize;
}
.btn.btn-primary {
  background-color: #ff3636;
  padding: 10px 30px;
}
.btn.btn-primary:hover {
  background-color: #333;
  cursor: pointer;
}
.btn.btn-border {
  border: 2px solid #ff3636;
  padding: 8px 30px;
}
.btn.btn-border:hover {
  background-color: #ff3636;
  cursor: pointer;
}

.bg {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.5;
  z-index: -2;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-evenly {
  justify-content: evenly;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

body {
  font-size: "open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.container, .container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}
.container .row, .container-fluid .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xxl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1320px;
    margin: 0 auto;
  }
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }
  .col-xl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }
  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }
  .col-xl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }
  .col-xl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }
  .col-xl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }
  .col-xl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }
  .col-xl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }
  .col-xl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h4::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: #ff3636;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.section-title h4::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff3636;
  bottom: -3px;
  left: 35%;
  transform: translateX(-50%);
  border-radius: 50%;
  animation: round-move 3s linear infinite;
}
@keyframes round-move {
  to {
    left: 65%;
  }
}
.header-area {
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}
.header-area .log a {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #fff;
  padding: 15px 10px;
  text-transform: uppercase;
}
.header-area .menu ul li a {
  display: block;
  color: #fff;
  font-size: 18px;
  margin-left: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.header-area .menu ul li a::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #ff3636;
  top: 25px;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
  transform: scale(1);
  opacity: 0;
}
.header-area .menu ul li a:hover {
  color: #ff3636;
}
.header-area .menu ul li a:hover::before {
  opacity: 1;
  width: 100%;
  transform: scale(2);
}

.banner-area {
  height: 100vh;
}
.banner-area .banner-content h1 {
  font-size: 80px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 100px;
}
.banner-area .banner-content h4 {
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}
.banner-area .banner-content a {
  margin: 20px 5px 0 5px;
  transition: 0.3s;
}

.about-area .about-content h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #ff3636;
}
.about-area .about-content h4 {
  font-size: 20px;
  text-transform: capitalize;
}
.about-area .about-content ul li {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}
.about-area .about-content ul li i {
  color: #ff3636;
  margin-right: 5px;
}
.services-area {
  background-color: #f6f6f6;
}
.services-area .single-service {
  background-color: #fff;
  padding: 25px 30px;
  margin-bottom: 50px;
  cursor: pointer;
}
.services-area .single-service:hover i {
  border-radius: 50%;
}
.services-area .single-service i {
  font-size: 20px;
  background-color: #ff3636;
  color: #fff;
  padding: 20px;
  transition: 0.3s;
}
.services-area .single-service h4 {
  font-size: 24px;
  margin: 20px 0;
  text-transform: capitalize;
}
.projects-area .section-title h4::before {
  width: 80px;
}
.projects-area .col-xl-4 {
  padding: 0;
}
.projects-area .single-project {
  background-size: cover;
  background-position: center;
  height: 300px;
}
.projects-area .single-project:hover .project-content {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.projects-area .single-project .project-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
  visibility: hidden;
}
.projects-area .single-project .project-content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  z-index: -1;
  opacity: 0.75;
}
.projects-area .single-project .project-content a {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
}
.projects-area .single-project .project-content h4 {
  font-size: 24px;
  text-transform: capitalize;
}
.projects-area .single-project .project-content h4 span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400px;
  text-transform: lowercase;
}

.counter-area {
  background-color: #333;
  color: #fff;
}
.counter-area .section-title h4::before {
  width: 95px;
}
.counter-area .single-counter i {
  font-size: 20px;
  background-color: #ff3636;
  padding: 16px;
  margin-bottom: 18px;
  border-radius: 3px;
}
.counter-area .single-counter h4 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.counter-area .single-counter p {
  text-transform: capitalize;
}

.timeline-area .section-title h4::before {
  width: 90px;
}
.timeline-area .timeline-list {
  position: relative;
}
.timeline-area .timeline-list::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ff3636;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.timeline-area .timeline-list li {
  position: relative;
  clear: both;
  overflow: hidden;
}
.timeline-area .timeline-list li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff3636;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timeline-area .timeline-list li:nth-child(even) .timeline-content {
  float: right;
  text-align: left;
}
.timeline-area .timeline-list .timeline-content {
  border: 1px solid #333;
  width: 45%;
  padding: 20px;
  float: left;
  text-align: right;
}
.timeline-area .timeline-list .timeline-content span {
  font-size: 20px;
  color: #ff3636;
  font-weight: 600;
}
.timeline-area .timeline-list .timeline-content h4 {
  text-transform: capitalize;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 5px;
}

.testimonials-area {
  background-color: #333;
  color: #fff;
}
.testimonials-area .section-title h4::before {
  width: 100px;
}
.testimonials-area .testimonials .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.testimonials-area .testimonials .slick-arrow i {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ff3636;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3636;
}
.testimonials-area .testimonials .slick-arrow i:hover {
  background-color: #333;
  border: 1px solid #ff3636;
  transition: 0.5s;
}
.testimonials-area .testimonials .slick-prev {
  left: -80px;
}
.testimonials-area .testimonials .slick-next {
  right: -80px;
}
.testimonials-area .testimonials .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}
.testimonials-area .testimonials .slick-dots li {
  display: inline-block;
  margin-left: 0px;
  padding-left: 10px;
}
.testimonials-area .testimonials .slick-dots li.slick-active button {
  background-color: #ff3636;
  color: #fff;
}
.testimonials-area .testimonials .slick-dots li button {
  background-color: #fff;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.testimonials-area .testimonials .single-testimonial {
  text-align: center;
}
.testimonials-area .testimonials .single-testimonial img {
  border-radius: 50%;
  margin-bottom: 20px;
  margin: 0 auto;
}
.testimonials-area .testimonials .single-testimonial p {
  width: 70%;
  margin: 0 auto;
}
.testimonials-area .testimonials .single-testimonial h4 {
  font-size: 26px;
  text-transform: capitalize;
  margin-top: 30px;
}
.testimonials-area .testimonials .single-testimonial h4 span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 9px;
}

.price-area {
  background-color: #f6f6f6;
}
.price-area .single-price {
  text-align: center;
  background-color: #fff;
  padding: 30px 40px;
}
.price-area .single-price.active {
  border: 2px solid #ff3636;
}
.price-area .single-price span {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}
.price-area .single-price h4 {
  font-size: 50px;
  margin: 40px 0;
  font-weight: 800;
}
.price-area .single-price ul {
  margin-bottom: 30px;
}
.price-area .single-price ul li {
  border-bottom: 1px solid #333;
  font-size: 17px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.price-area .single-price ul li:last-child {
  border-bottom: none;
  margin-bottom: none;
  padding-bottom: none;
}
.price-area .single-price a {
  margin-top: 15px;
}

.team-area .section-title h4::before {
  width: 65px;
}
.team-area .single-team {
  position: relative;
  overflow: hidden;
}
.team-area .single-team img {
  width: 100%;
}
.team-area .single-team .team-overlay {
  position: absolute;
  bottom: -110px;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: #333;
  transition: 0.5s;
}
.team-area .single-team .team-overlay h4 {
  text-transform: capitalize;
  font-size: 24px;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 15px;
}
.team-area .single-team .team-overlay span {
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
}
.team-area .single-team .team-overlay a {
  color: #fff;
  font-size: 16px;
}
.team-area .single-team .team-overlay a i {
  padding: 5px;
  border: 1px solid #333;
  margin-bottom: 10px;
}
.team-area .single-team .team-overlay a i:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #ff3636;
}
.team-area .single-team:hover {
  cursor: pointer;
}
.team-area .single-team:hover .team-overlay {
  bottom: 0;
}

.blog-area {
  background-color: #f6f6f6;
}
.blog-area .single-blog {
  background-color: #fff;
}
.blog-area .single-blog .blog-image {
  position: relative;
  overflow: hidden;
}
.blog-area .single-blog .blog-image img {
  width: 100%;
  transition: 0.3s;
}
.blog-area .single-blog .blog-meta {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid #f6f6f6;
  padding: 10px;
  margin-top: -20px;
  z-index: 2;
  position: relative;
}
.blog-area .single-blog .blog-meta a {
  color: #333;
  transition: 0.3s;
}
.blog-area .single-blog .blog-meta a:hover {
  color: #ff3636;
}
.blog-area .single-blog .blog-meta a i {
  padding-right: 10px;
}
.blog-area .single-blog .blog-content {
  padding: 20px;
}
.blog-area .single-blog .blog-content h4 {
  font-size: 20px;
  text-transform: capitalize;
}
.blog-area .single-blog .blog-content p {
  margin: 15px 0;
}
.blog-area .single-blog .blog-content a {
  margin-top: 10px;
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: 16px;
}
.blog-area .single-blog:hover img {
  transform: scale(1.1);
}

.cta-area {
  text-align: center;
  color: #fff;
}
.cta-area a i {
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
}
.cta-area h4 {
  font-size: 40px;
  text-transform: capitalize;
  line-height: 50px;
}
.cta-area p {
  margin: 10px 25px;
}

.contact-area .contact-form input,
.contact-area .contact-form textarea {
  width: 100%;
  border: 1px solid #f6f6f6;
  padding: 10px;
  margin-bottom: 15px;
}
.contact-area .contact-form input[type=submit] {
  background-color: #ff3636;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.contact-area .contact-form input[type=submit]:hover {
  background-color: #333;
}
.contact-area .contact-address .single-contact {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.contact-area .contact-address .single-contact :last-child {
  margin-bottom: 0px;
}
.contact-area .contact-address .single-contact i {
  background-color: #ff3636;
  color: #fff;
  padding: 12px;
  border-radius: 50%;
}
.contact-area .contact-address .single-contact h4 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}
.contact-area .contact-address .single-contact h4 span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
  margin-top: 5px;
}/*# sourceMappingURL=style.css.map */