.blog-area {
    background-color: $bg-gray;

    .single-blog {
        background-color: $white;

        .blog-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.3s;
            }
        }

        .blog-meta {
            width: 80%;
            background-color: $white;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            border: 1px solid $bg-gray;
            padding: 10px;
            margin-top: -20px;
            z-index: 2;
            position: relative;

            a {
                color: $black;
                transition: 0.3s;

                &:hover {
                    color: $theme;
                }

                i {
                    padding-right: 10px;
                }
            }
        }

        .blog-content {
            padding: 20px;

            h4 {
                font-size: 20px;
                text-transform: capitalize;
            }

            p {
                margin: 15px 0;
            }

            a {
                margin-top: 10px;
                padding: 5px 20px;
                text-transform: capitalize;
                font-size: 16px;
            }
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}